body{}
*{margin: 0px;
 padding:0px;
 font-family:Tahoma;
 box-sizing:border-box;}

input,button{border: none; outline: none;}

h1,h2,h3,h4,h5,h6{margin: 0; padding:0;}



 #header{width:100%; height:auto;}

 .nav1{width:100%;
       background-color:#4c4c4c;
       padding:0px 55px 0px 40px;}

.logo{width:35px;}

.subscribe-btn{color:white;
              background-color:transparent;
              border:2px solid white;
              border-radius:50px;
              padding:8.5px 34px 8px 33px;
              font-size:14.5px;}

.included-icons{font-size:30px;margin-right:45px;}

.included-icons a{color:white; text-decoration: none;}

.included-navs{padding:14px 0px 5px 0px; margin-right:190px;}

.included-navs ul li{display:inline-block;
                     padding:0px 12px;}
.social-responsive-icons {
      right: 75px;
      bottom: 65px;
      position: fixed;
}
.social-responsive-icons > span > i {
      color: #fff;
      padding: 15px;
      font-size: 30px;
      cursor: pointer;
      border-radius: 50%;
      box-shadow: 0 0 35px 0 rgba(0, 0, 0, .8);
}
.img {margin-bottom: 10px;cursor: pointer;}
.social-responsive-icons > span > i:last-of-type {color: #000;background-color: #fff;}

.included-navs ul li a{color: white; font-size:15px; font-weight: bold; text-decoration: none;}

.bgImg-sfuffle{width:100%;
               height:150px;
               background-image:url(../img/bg-shuffle.jpg);
               background-size:cover;
               background-position:bottom;}


.bgImg-sfuffle-other-page{
      width:100%;
      height:230px;
      background-color:#a1a1a1;
      background-blend-mode:multiply;
      background-size:cover;
      background-image:url(../img/bg-shuffle-2.jpg);
}

.texts{line-height: calc(100% + 15px);}


.drobdown-content{position: absolute;
                 width:300px;
                 margin-left:-125px;
                 margin-top:25px;
                 background-color:#4c4c4c;
                 display: none;}

.ratate-block{width:50px; 
			  height:50px; margin: auto; 
			  transform:rotate(45deg);
			  background-color:#4c4c4c;
			  position: relative;}

.p-text{margin-top:-50px;
	    position: relative;
	    z-index:1;
	    padding:15px 20px 5px 20px;
	    text-align: center;
	    line-height:28px;
	    font-weight: bold;
	    font-size:13px;}

.drobdown-li:hover .drobdown-content{display: block;}

.nav2{background-color:#111111;
      height:64px;}

#section{display:none;}
.bars{display: block; 
      float:right;
      font-size:30px;
      padding:10px 20px;}

.close{display:none;}


.bars_items{width:100%;
            min-height:514px;
            background-color:#4c4c4c;}

.close_items{display: none;}

.mobile-menu-navs ul li a{color: white;text-decoration: none;}
.mobile-menu-navs ul li {font-size:14.5px; font-weight: bold; padding:10px 0px;}

.mobile-drobdown-content{margin: auto;
                        width:300px;
                        height: 0px;
                        font-size:14px;
                        color: white;
                        font-weight: bold;
                        line-height:30px;
                        overflow: hidden;
                        transition:all 0.3s;}

.hr{margin:5px 0px 0px 0px;
    border-top:0.2px solid black;
    display: none;}

.mobile-drobdown-li:hover .mobile-drobdown-content{height:100px; margin-top:10px;  transition: all 0.3s;}
.mobile-drobdown-li:hover .hr{display: block;}

@media(max-width:1300px){
    .included-navs{margin-right:4vmax;} 
}

@media(max-width:1185px){
     .nav1{padding:0px 20px 0px 20px;}
     .included-icons{margin-right:30px;}
}
@media(max-width: 964px){
      .nav1{display:none;}
      #section{display: block;}
}


.right-menu-in{width:60px;
               height:60px;
               border-radius:50%;
               background-color:green;
               box-shadow:0px 0px 25px -5px gray;
               transition: all 0.3s;
               position: fixed;
               bottom:70px;
               right:50px;
               background-image:url(../img/logo1.svg);
               background-repeat:no-repeat;
               background-position: center;
               z-index:1;}


.bg-logos{
          width:50px;
          height:50px;
          transition: all 0.7s;
          background-position: center;
          background-repeat:no-repeat;
          margin: auto;
          box-shadow:0px 0px 20px -3px gray;
          border-radius:50%;}


.bg-logos:nth-child(1){
      margin-top:-98%;
      background-image:url(../img/logo7.svg);
}

.bg-logos:nth-child(2){
      margin-top:-184%;
      background-image:url(../img/logo6.svg);
}
.bg-logos:nth-child(3){
      margin-top:-181%;
      background-image:url(../img/logo5.svg);
}
.bg-logos:nth-child(4){
      margin-top:-181%;
      background-image:url(../img/logo4.svg);
}
.bg-logos:nth-child(5){
      margin-top:-180%;
      background-image:url(../img/logo3.svg);
}


.linear,.bg{transition: all 0.7s;
        position: relative;
        margin-top:-60%;
        }


.describtions{position: relative;
              top:24%;
              width:auto;
              height: auto;
              display: inline-block;
              background-color:#4c4c4c;
              padding:5px 10px;
              color: white;
              border-radius:5px;
              display: none;}

.rotate-blocks{
      width:15px;
      height:15px;
      position:absolute;
      transform:rotate(45deg);
      right:-7px;
      background-color:#4c4c4c;
      top:7px;}


.bg-logos:hover .describtions{display:inline-block;}

.right-menu-in a span{display: block;}

.right-menu-in:hover{box-shadow:0px 0px 25px -2px gray; transition: all 0.3s;}



.main-logo-block{display:flex;
                 justify-content: center;
                 padding:150px 10px 0px 10px;}

.section-main-1{width:100%;
                height:auto;
                backrgound-color:white;
                padding-bottom:120px;}

.main-title-block{text-align: center;
                  padding:80px 10px 0px 10px;}

.main-title-block>h1{font-weight: bolder;
                     font-family:arial;
                     font-size:50px;}

.main-title-block>h2{font-weight: bolder;
                     font-family:arial;
                     font-size:32px;
                     margin-top:20px;}

.contact-block{text-align: center;
               padding:85px 10px 0px 10px;}

.contact-block a {text-decoration: none;
                  color:black;
                  font-size:30px;}

.button-block{display:flex;
              justify-content: center;
              padding-top:60px;}

.button-block button{font-weight: bolder;
                     padding:20px 60px;
                     border:2px solid black;
                     background:transparent;
                     border-radius:50px;
                     font-size:15px;}




@media(max-width:625px){
.main-title-block>h1{font-size:35px;}
.main-title-block>h2{font-size:20px;}     
.button-block button{padding:17px 40px;}
.main-title-block{padding:110px 10px 0px 10px;}
.contact-block{padding:60px 10px 0px 10px;}
.button-block{padding-top:50px;}
}

.section-main-2{padding:190px 0px 50px 0px;
               background-color:#fffad8;}

.container{padding:0px 5px;}

.main2-title-block{text-align: center;}

.main2-title-block h1{font-weight: bolder;
                      font-size:32px;}

.main2-title-block p{
      margin-top:20px;
      font-size:20px;
      color: gray;
} 

.buttons{margin-top:90px;
      text-align: center;}

.buttons button{
background: transparent;
border:1px solid black;
padding:9px 18px;
border-radius:50px;
font-weight: ;
margin:5px 3px;
color:black;
text-decoration: none;
}

.cols-bg-imgs{width:100%;
              height:300px;
              background-size:cover;
              background-position: center;
              padding:10px;}

.cols-bg-imgs-1{
      background-image:url(../img/cols-bg-1.png);
}

.cols-bg-imgs-2{
      background-image:url(../img/cols-bg-2.png);
}

.cols-bg-imgs-3{
      background-image:url(../img/cols-bg-3.jpg);
}

.cols-bg-imgs-4{
      background-image:url(../img/cols-bg-4.png);
}

.cols-bg-imgs-5{
      background-image:url(../img/cols-bg-6.png);
}

.cols-bg-imgs-6{
      background-image:url(../img/cols-bg-5.png);
}


.cols-bg-imgs div{background-color:rgba(0,0,0,.5);
                  display:inline-block;
                  width: auto;
                  color:white;
                  font-size:12px;
                  padding:4px 7px;}


.describtions-main{
      width:100%;
      height:315px;
      background-color:white;
      padding:15px 25px;
}

.describtions-main h4{line-height:25px; letter-spacing:0.5px;}

.describtions-main p {line-height:22px; color:gray;}


.load_more_btn-block{display: flex;
                     justify-content: center;
                     margin-top:50px;}

.load_more_btn-block button{background-color: rgb(255, 118, 0);
                            padding:20px 70px;
                            border-radius:50px;
                            color:white;
                             font-weight: bold;}

@media(max-width:995px){
      .main-logo-block{display: none;}
      .right-menu-in{display:none;}
      .section-main-1{padding-bottom:50px;}
      .describtions-main{height:auto;}
      .cols-bg-imgs{height:450px;
                    background-size:100% 100%;
                    background-position: center;
                     background-repeat:no-repeat;}
}

.section-main-3{
      background-color:#efefef;
      padding:170px 0px 100px 0px;
}

.section_3title-block{text-align: center;}
.section_3title-block h1{font-weight: bolder; font-size:32px;}
.section_3title-block p{color:gray; font-size:20px;}

.section_2_cols-bgs{width:100%;
                    height:300px;
                    background-color:red;
                    background-repeat:no-repeat;
                    background-size: cover;
                    background-position:center;}


.section_2_cols-bgs1{background-image:url(../img/cols-bg-7.png);}
.section_2_cols-bgs2{background-image:url(../img/cols-bg-8.png);}
.section_2_cols-bgs3{background-image:url(../img/cols-bg-9.png);}

.describtions-main2{background-color:white;
                    height:240px;
                    padding:20px 25px 20px 25px;}


.describtions-main2 ul{list-style: none; margin-top:20px; color:gray;}

.describtions-main2 button{padding:7px 10px;
                           font-weight: bold;
                           border-radius:5px;
                           bottom:20px;
                           margin-top:22px;
                           margin-right:5px;
                           background-color:transparent;
                           border:1px solid black;}



.section-main-4{
      padding:170px 0px 70px 0px;
}

.section-4_title-block{
      text-align: center;
}

.section-4_title-block h1{font-size:30px;}

.section-4_title-block p{font-size:19px;
                          margin-top:15px;
                          color:gray;}



.cols-bgs-section-1,.cols-bgs-section-2,.cols-bgs-section-3{
      width:100%;
      height:240px;
      background-repeat:no-repeat;
      background-size:cover;
      background-position:center;
}
.cols-bgs-section-1{background-image: url(../img/cols-bg10.jpg);}
.cols-bgs-section-2{background-image: url(../img/cols-bg-11.png);}
.cols-bgs-section-3{background-image: url(../img/cols-bg-12.png);}

.main-bottom-title{
      margin-top:200px;
      text-align: center;
}

.subscribe-btn-bottom{
              color:black;
              background-color:transparent;
              border:2px solid black;
              border-radius:50px;
              padding:18px 50px 18px 50px;
              font-size:14.5px;
              margin-top:30px;
              font-weight: bold;
}

.hr-line{width:150px;
         border-bottom:1px solid black;
         margin: auto;
         margin-top:40px;
      }

.other-page-section-main-3{
      background-color:#efefef;
      height:380px;
}
.main-contact-bottom{margin-top:50px;}

.main-contact-bottom a{text-decoration: none;color: black;
                       font-size:35px;}

@media(max-width:1200px){
      .section_2_cols-bgs{height:250px;
                          background-size:cover;
                          background-position:center;}
      .describtions-main2 h3{font-size:21px;}
      .describtions-main2{height:260px;}
      .cols-bgs-section-1,.cols-bgs-section-2,.cols-bgs-section-3{
            height: 200px;
      }

}
.other-page-ul li{display: inline-block; 
                  font-size:20px;
                  font-weight:lighter;
                  color:gray;
                  border-bottom:1px solid black;
                  margin-right:5px;}

.other-page-ul span{font-size:20px;
                  font-weight:lighter;
                  color:gray;}

.other-page-ul li:nth-child(1){
      border-bottom:none;
}

.text-main-bottom{font-size:17px;
                 color:black;
                 font-weight: bolder;}


@media(max-width:1000px){
      .section_2_cols-bgs{height:200px;
                          background-size:cover;}
      .describtions-main2{height: auto;}
      #li{display: none;}
      .br{display: none;}
}
@media(max-width:770px){
.section_2_cols-bgs{height:42vw;}
.main-bottom-title{margin-top:50px;}
}

@media(max-width:570px){
.section_2_cols-bgs{height:52vw;}
}
@media(max-width: 625px){
      .section-main-2{padding:100px 0px 50px 0px;}
      .main2-title-block p{font-size:17px;}
      .buttons button{font-size:12px; padding:6px 15px;}
      .load_more_btn-block button{padding:20px 40px;}
      .main-bottom-title h2{font-size:25px;}
      .subscribe-btn-bottom{padding:18px 35px 18px 35px;}
      .other-page-ul li{font-size:17px;}
      .other-page-ul span{font-size:17px;}
      .text-main-bottom{font-size:15px;}
}

@media(max-width:578px){
    .cols-bg-imgs{height:65vw;
                  background-size: cover;
      } 
.cols-bgs-section-1,.cols-bgs-section-2,.cols-bgs-section-3{
      height:60vw;
}

     
}
footer{width:100%;
       height:300px;
       background-color:#252525;
       padding-top:50px;
 }

.footer-navs-block{text-align: center;}
.footer-navs-block ul li{display: inline-block; color: white; padding:10px 15px;}