<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="this is for practice" content="Free Web tutorials">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Abdukarim">
	<title>SmartiqaRu</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/v4-shims.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
<header id="header">
	<nav class="nav1"><!-- NAV 1 -->
		<div>
			<div class="pt-2 pb-3 d-inline-block"><!--logo-->
				<a href="index.html">
					<img src="img/logo.png" class="logo">
				</a>
			</div><!--logo-->
			<div class="text-white float-right pt-2 pb-1" style="display:flex;"><!--contact-->
				<div class="included-icons">
					<a href="#">
						<i class="fab fa-vk"></i>
					</a>
					<a href="#">
						<i class="fab fa-youtube"></i>
					</a>
					<a href="#">
						<i class="fab fa-telegram"></i>
					</a>
				</div>
				<div>
				    <a href="#">
					    <button class="subscribe-btn">Подписаться</button>
					</a>
				</div>
			</div><!--contact-->
			<div class="text-white float-right included-navs"><!--navs-->
			    <ul>
			    	<li>
			    		<a href="#" style="color:#c1c1c1;">
			    			Главная
			    		</a>
			    	</li>
			    	<li>
			    		<a href="#">
			    			Блог
			    		</a>
			    	</li>
			    	<li class="drobdown-li">
			    		<a href="#">
			    			Курсы
			    		</a>
			    		<div class="drobdown-content">
			    			<div class="ratate-block">
			    			</div>
			    			<p class="p-text">
			    				Курс. Программирование на Python.
								Курс. Автоматизация тестирования.
									 Курс. Работа с Git.
			    			</p>
			    		</div>
			    	</li>
			    	<li>
			    		<a href="#">
			    			Задачник 
			    		</a>
			    	</li>
			    	<li>
			    		<a href="#">
			    			О проекте
			    		</a>
			    	</li>
			    </ul>
			</div><!--navs-->
		</div>
	</nav><!-- NAV 1 -->
	<section id="section">
		<nav class="nav2 text-white" ><!--NAV 2-->
		   <div>
			  <span v-on:click="open" v-bind:class="{close:nav , bars:!nav}">
				  <i class="fa fa-bars"></i>
			  </span>
			  <span v-on:click="close" v-bind:class="{bars:nav , close:!nav}">
				  <i class="fa fa-times"></i>
			  </span>
		    </div>
	    </nav><!--NAV 2-->
	    <div class="p-3" v-bind:class="{bars_items:nav , close_items:!nav}">
		      <div class="text-center pt-5 pb-5">
		      	<img src="img/logo.png" class="logo">
		      </div>
		      <div class="text-center mobile-menu-navs mt-4 pt-4">
		      	<ul>
		      		<li>
			    		<a href="#" style="color:#c1c1c1;">
			    			Главная
			    		</a>
			    	</li>
			    	<li>
			    		<a href="#">
			    			Блог
			    		</a>
			    	</li>
			    	<li class="mobile-drobdown-li">
			    		<a href="#">
			    			Курсы
			    		</a>
			    		<div class="mobile-drobdown-content">
			    			<p class="">
			    				Курс. Программирование на Python.
								Курс. Автоматизация тестирования.
									 Курс. Работа с Git.
			    			</p>
			    		</div>
			    	<hr class="hr">
			    	</li>
			    	<li>
			    		<a href="#">
			    			Задачник 
			    		</a>
			    	</li>
			    	<li>
			    		<a href="#">
			    			О проекте
			    		</a>
			    	</li>
		      	</ul>
		      </div>
		      <div class="included-icons text-center pl-5 mt-5 pt-2">
					<a href="#">
						<i class="fab fa-vk mr-3"></i>
					</a>
					<a href="#">
						<i class="fab fa-youtube mr-3"></i>
					</a>
					<a href="#">
						<i class="fab fa-telegram"></i>
					</a>
			  </div>
			  <div class="text-center pt-4 pb-4">
				    <a href="#">
					    <button class="subscribe-btn">Подписаться</button>
					</a>
			   </div>
	    </div>
	</section>
	<div class="social-responsive-icons" id="app">
		<div class="img" v-if="icons"><a href="#"><img src="img/logo3.svg" alt=""></a></div>
		<div class="img" v-if="icons"><a href="#"><img src="img/logo4.svg" alt=""></a></div>
		<div class="img" v-if="icons"><a href="#"><img src="img/logo5.svg" alt=""></a></div>
		<div class="img" v-if="icons"><a href="#"><img src="img/logo6.svg" alt=""></a></div>
		<div class="img" v-if="icons"><a href="#"><img src="img/logo7.svg" alt=""></a></div>
		<span>
			<i class="far fa-comment-lines" v-on:click="show" v-if="comment" style="background-color: darkcyan;color: #fff;"></i>
			<i class="fas fa-times" v-on:click="hide" v-if="times"></i>
		</span>
	</div>
	<div class="bgImg-sfuffle-other-page text-center text-white"><!-- bg shuffle div -->
		<h1 style="position: relative; top:40%; font-weight:bold; font-size:40px;">
			О ПРОЕКТЕ
		</h1>
	</div><!-- bg shuffle div -->
</header>

<main>
	<section class="section-main-1 p-5">
		<div style="max-width:780px; margin:auto;padding:50px 0px;">
			<div>
				<p class="h3 text-secondary texts" style="line-height:calc(100% + 15px);">
				  Smartiqa - платформа о технологиях, программировании и тестировании ПО.
			    </p>
			</div>
			<div class="mt-5">
				<p class="h4 text-secondary texts">
					Каждую неделю мы публикуем актуальные новости из мира разработчиков и QA, курсы, образовательные статьи и переводы — создаём поток информации для IT специалистов и всех, кто считает своим прямым долгом создавать, поддерживать и тестировать программное обеспечение.
				</p>
			</div>
			<div class="mt-5">
				<p class="h4 text-secondary texts">
					Мы пока только начали развиваться, но на сегодняшний день наша суммарная аудитория - уже более 50 000 человек в месяц.
				</p>
			</div>
			<div class="mt-5">
				<p class="h4 text-secondary texts">
					Также мы размещаем рекламу, вакансии, анонсы конференций и других событий, собираем мнения экспертов на вопросы, которые волнуют наших читателей.
				</p>
			</div>
		</div>
	</section>
	<section class="other-page-section-main-3">
		<div style="position:relative; top:30%; text-align:center;">			
			<div>
				<p class="text-main-bottom">По всем вопросам свяжитесь с нами любым удобным способом:</p>
			</div>
			<div class="mt-5">
				<p class="h4 text-secondary">
					<span>E-mail:</span>
					<b>info@smartiqa.ru</b>
				</p>
			</div>
			<div>
				<ul class="other-page-ul">
					<li>Соцсети:</li>
					<li>Vkontakte</li><span>|</span>
					<li class="text-danger">Telegram</li><span>|</span>
					<li>Youtube</li>
				</ul>
			</div>
		</div>
	</section>
</main>
<footer>
	<div class="container">
		<div class="footer-navs-block">
			<ul>
				<li>Главная</li>
				<li>Блог</li>
				<li>Курсы</li>
				<li>Партнерские курсы</li>
				<li> Задачник</li>
				<li>О нас</li>
				<li>Политика конфиденциальности</li>
			</ul>
		</div>
		<div class="text-center mt-5 ">
			<p style="color:gray;">
				© All Rights Reserved. 2018 - 2020. Smartiqa Blog.<br class="br">
				info@smartiqa.ru
			</p>
		</div>
	</div>
</footer>
<script src="js/vue.js"></script>
<script src="js/app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.15.4/js/v4-shims.js"></script>
</body>
</html>


