*, *::after, *::before {
	box-sizing: border-box;
	font-family: Gotham Rounded, sans-serif;
}

body {
	background: linear-gradient(to right, hsl(200,100%,50%), hsl(175,100%,50%));;
}

.clock {
	width: 400px;
	height: 400px;
	background-color: rgba(255, 255, 255, .8);
	border-radius: 50%;
	border: 2px solid black;
	position: relative;
	margin: 100px auto;
}
 
.clock .number {
	--rotation: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 1.5rem;
	text-align: center;
	transform: rotate(var(--rotation));
}

.clock .number1 { --rotation: 30deg; }
.clock .number2 { --rotation: 60deg; }
.clock .number3 { --rotation: 90deg; }
.clock .number4 { --rotation: 120deg; }
.clock .number5 { --rotation: 150deg; }
.clock .number6 { --rotation: 180deg; }
.clock .number7 { --rotation: 210deg; }
.clock .number8 { --rotation: 240deg; }
.clock .number9 { --rotation: 270deg; }
.clock .number10 { --rotation: 300deg; }
.clock .number11 { --rotation: 330deg; }

.clock .hand {
	--rotation: 0;
	position: absolute;
	bottom: 50%;
	left: 50%;
	width: 10px;
	height: 50%;
	background-color: #000;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	transform-origin: bottom;
	z-index: 10;
	transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
	content: '';
	position: absolute;
	background: #000;
	z-index: 111;
	width: 20px;
	height: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}

.clock .hand.second {
	width: 5px;
	height: 45%;
	background: red;

}
.clock .hand.minute {
	width: 7px;
	height: 40%;
	background: black;

}
.clock .hand.hour {
	width: 10px;
	height: 35%;
	background: black;

}